@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --MainColor: #ffffff;
  --Primary: #ff6600;
  --btnHover: #3e1f09;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  position: sticky;
  box-shadow: 0 0px 70px -30px var(--Primary);
}

nav {
  background-color: #141414;
}
nav .container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
nav ul a {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--MainColor);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
nav ul a:hover {
  color: var(--Primary);
}
nav .btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav .btns button {
  position: relative;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--MainColor);
  background-color: #5a2d0e;
  border: 1px solid var(--Primary);
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
nav .btns button::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 1;
  background-color: var(--btnHover);
  transition: all 0.3s ease-in-out;
}
nav .btns button:hover::after {
  width: 100%;
}
nav .btns button span {
  position: relative;
  z-index: 2;
}
nav .btns h5 {
  font: 500px;
  font-size: 14px;
  line-height: 100%;
  color: var(--MainColor);
  cursor: pointer;
}
nav .hamburger {
  display: none;
}
nav .hamburger i {
  color: var(--MainColor);
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
nav .hamburger i:hover {
  color: var(--Primary);
}

.hero {
  background-image: url(../imgs/heroBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 85vh;
  background-color: #141414;
}
.hero .container {
  padding: 50px 0;
}
.hero .btns {
  display: flex;
  gap: 30px;
}
.hero .btns .btn {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5019607843);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 40px;
}
.hero .btns .btn:hover {
  border-color: var(--Primary);
}
.hero .btns .btn:hover i {
  color: var(--Primary);
}
.hero .btns i {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5019607843);
  transition: all 0.3s ease-in-out;
}
.hero h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--MainColor);
  margin-bottom: 40px;
}
.hero p {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: var(--MainColor);
  width: 40%;
  margin-bottom: 40px;
}
.hero button {
  position: relative;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--MainColor);
  background-color: #5a2d0e;
  border: 1px solid var(--Primary);
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 40px;
}
.hero button::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 1;
  background-color: var(--btnHover);
  transition: all 0.3s ease-in-out;
}
.hero button:hover::after {
  width: 100%;
}
.hero button span {
  position: relative;
  z-index: 2;
}
.hero .loading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  justify-content: start;
  gap: 20px;
}
.hero .loading .point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2509803922);
  animation: animate1 2s infinite linear;
}
.hero .loading .point:nth-child(1) {
  animation-delay: 0;
}
.hero .loading .point:nth-child(2) {
  animation-delay: 0.4s;
}
.hero .loading .point:nth-child(3) {
  animation-delay: 1s;
}
.hero .loading .point:nth-child(4) {
  animation-delay: 1.3s;
}

.about {
  position: relative;
  background-color: #141414;
}
.about .container {
  padding: 50px 0;
  padding-bottom: 70px;
}
.about h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: var(--MainColor);
  position: relative;
  display: inline;
}
.about h2 img {
  position: absolute;
  top: -10px;
  right: -20px;
}
.about .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  gap: 40px;
  margin-top: 30px;
}
.about p {
  width: 80%;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: var(--MainColor);
  margin-bottom: 20px;
}
.about button {
  position: relative;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--MainColor);
  background-color: #5a2d0e;
  border: 1px solid var(--Primary);
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.about button::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 1;
  background-color: var(--btnHover);
  transition: all 0.3s ease-in-out;
}
.about button:hover::after {
  width: 100%;
}
.about button span {
  position: relative;
  z-index: 2;
}
.about .imgs {
  overflow: hidden;
  width: 100%;
}
.about .imgs img {
  transition: all 0.3s ease-in-out;
  display: block;
  width: 100%;
}
.about .imgs:hover img {
  transform: scale(1.05);
}
.about .liner {
  position: absolute;
  bottom: 20px;
  width: 70%;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.0784313725), #ff6600);
  box-shadow: 0px 0px 20px 5px rgba(255, 102, 0, 0.1490196078);
  position: relative;
}
.about .liner .point {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--Primary);
  position: absolute;
  top: -2.5px;
  right: -3px;
}

.values {
  position: relative;
  background-color: #141414;
}
.values .container {
  padding: 50px 0;
  padding-bottom: 70px;
}
.values h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: var(--MainColor);
  position: relative;
  display: inline;
}
.values h2 img {
  position: absolute;
  top: -10px;
  right: -20px;
}
.values .card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.values .card .box {
  display: flex;
  width: 80%;
}
.values .card .box .imgs {
  margin-left: -55px;
}
.values .card .box .text {
  margin-top: 50px;
  margin-left: -30px;
}
.values .card .box h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: var(--MainColor);
  position: relative;
  display: inline;
}
.values .card .box h2 img {
  position: absolute;
  top: -10px;
  right: -20px;
}
.values .card .box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5019607843);
  margin-top: 20px;
}
.values .liner {
  position: absolute;
  margin-left: 30%;
  bottom: 20px;
  right: 0;
  width: 70%;
  height: 2px;
  background: linear-gradient(to right, #ff6600, rgba(0, 0, 0, 0.0784313725));
  box-shadow: 0px 0px 20px 5px rgba(255, 102, 0, 0.1490196078);
  position: relative;
}
.values .liner .point {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--Primary);
  position: absolute;
  top: -3.5px;
  left: -3px;
}

.team {
  background-color: #141414;
}
.team .container {
  padding: 50px 0;
  padding-bottom: 70px;
}
.team h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: var(--MainColor);
  position: relative;
  display: inline;
}
.team h2 img {
  position: absolute;
  top: -10px;
  right: -20px;
}
.team p {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5019607843);
  margin-top: 20px;
  width: 70%;
}
.team .card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  margin-top: 40px;
}
.team .box {
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.team .box .imgs {
  margin-bottom: 10px;
}
.team .box h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: var(--MainColor);
  margin-bottom: 10px;
}
.team .box:hover {
  transform: translateY(-5px);
}

@keyframes animate1 {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
    background-color: var(--Primary);
    box-shadow: 0px 0px 20px 0px rgba(255, 102, 0, 0.8509803922);
  }
  100% {
    transform: scale(0.8);
  }
}
@media (max-width: 767px) {
  nav .container {
    padding: 20px;
  }
  nav ul {
    display: none;
  }
  nav .btns {
    display: none;
  }
  nav .hamburger {
    display: block;
  }
  .hero .container {
    padding: 50px 20px;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero p {
    font-size: 14px;
    width: 100%;
    line-height: 120%;
  }
  .about .container {
    padding: 50px 20px;
  }
  .about .card {
    flex-direction: column;
  }
  .about .imgs {
    width: 70%;
  }
  .about p {
    font-size: 12px;
  }
  .values .container {
    padding: 50px 20px;
  }
  .values .card {
    grid-template-columns: 1fr;
  }
  .values .card .box {
    width: 90%;
  }
  .team .container {
    padding: 50px 20px;
  }
}/*# sourceMappingURL=main.css.map */