@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@mixin flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@mixin btn-still() {
  position: relative;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--MainColor);
  background-color: #5a2d0e;
  border: 1px solid var(--Primary);
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 1;
    background-color: var(--btnHover);
    transition: all 0.3s ease-in-out;
  }
  &:hover::after {
    width: 100%;
  }
  span {
    position: relative;
    z-index: 2;
  }
}
@mixin h2() {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: var(--MainColor);
  position: relative;
  display: inline;
  img {
    position: absolute;
    top: -10px;
    right: -20px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --MainColor: #ffffff;
  --Primary: #ff6600;
  --btnHover: #3e1f09;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  position: sticky;
  box-shadow: 0 0px 70px -30px var(--Primary);
}
nav {
  background-color: #141414;
  .container {
    padding: 20px 0;
    @include flex();
  }
  ul {
    display: flex;
    gap: 20px;
    list-style: none;
    a {
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: var(--MainColor);
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: var(--Primary);
      }
    }
  }
  .btns {
    display: flex;
    align-items: center;
    gap: 20px;
    button {
      @include btn-still();
    }
    h5 {
      font: 500px;
      font-size: 14px;
      line-height: 100%;
      color: var(--MainColor);
      cursor: pointer;
    }
  }
  .hamburger {
    display: none;
    i {
      color: var(--MainColor);
      font-size: 17px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: var(--Primary);
      }
    }
  }
}
.hero {
  background-image: url(../imgs/heroBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 85vh;
  background-color: #141414;
  .container {
    padding: 50px 0;
  }
  .btns {
    display: flex;
    gap: 30px;
    .btn {
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 2px solid #ffffff80;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      margin-bottom: 40px;
      &:hover {
        border-color: var(--Primary);
      }
      &:hover i {
        color: var(--Primary);
      }
    }
    i {
      font-size: 15px;
      color: #ffffff80;
      transition: all 0.3s ease-in-out;
    }
  }
  h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: var(--MainColor);
    margin-bottom: 40px;
  }
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: var(--MainColor);
    width: 40%;
    margin-bottom: 40px;
  }
  button {
    @include btn-still();
    margin-bottom: 40px;
  }
  .loading {
    @include flex();
    justify-content: start;
    gap: 20px;
    .point {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ffffff40;
      animation: animate1 2s infinite linear;
      &:nth-child(1) {
        animation-delay: 0;
      }
      &:nth-child(2) {
        animation-delay: 0.4s;
      }
      &:nth-child(3) {
        animation-delay: 1s;
      }
      &:nth-child(4) {
        animation-delay: 1.3s;
      }
    }
  }
}
.about {
  position: relative;
  background-color: #141414;
  .container {
    padding: 50px 0;
    padding-bottom: 70px;
  }
  h2 {
    @include h2();
  }
  .card {
    @include flex();
    gap: 40px;
    margin-top: 30px;
  }
  p {
    width: 80%;
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    color: var(--MainColor);
    margin-bottom: 20px;
  }
  button {
    @include btn-still();
  }
  .imgs {
    overflow: hidden;
    width: 100%;
    img {
      transition: all 0.3s ease-in-out;
      display: block;
      width: 100%;
    }
    &:hover img {
      transform: scale(1.05);
    }
  }
  .liner {
    position: absolute;
    bottom: 20px;
    width: 70%;
    height: 2px;
    background: linear-gradient(to right, #00000014, #ff6600);
    box-shadow: 0px 0px 20px 5px #ff660026;
    position: relative;
    .point {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--Primary);
      position: absolute;
      top: -2.5px;
      right: -3px;
    }
  }
}
.values {
  position: relative;
  background-color: #141414;
  .container {
    padding: 50px 0;
    padding-bottom: 70px;
  }
  h2 {
    @include h2();
  }
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .box {
      display: flex;
      width: 80%;
      .imgs {
        margin-left: -55px;
      }
      .text {
        margin-top: 50px;
        margin-left: -30px;
      }
      h2 {
        @include h2();
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #ffffff80;
        margin-top: 20px;
      }
    }
  }
  .liner {
    position: absolute;
    margin-left: 30%;
    bottom: 20px;
    right: 0;
    width: 70%;
    height: 2px;
    background: linear-gradient(to right, #ff6600, #00000014);
    box-shadow: 0px 0px 20px 5px #ff660026;
    position: relative;
    .point {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--Primary);
      position: absolute;
      top: -3.5px;
      left: -3px;
    }
  }
}
.team {
  background-color: #141414;
  .container {
    padding: 50px 0;
    padding-bottom: 70px;
  }
  h2 {
    @include h2();
  }
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff80;
    margin-top: 20px;
    width: 70%;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
    margin-top: 40px;
  }
  .box {
    transition: all 0.3s ease-in-out;
    .imgs {
      margin-bottom: 10px;
    }
    text-align: center;
    h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: var(--MainColor);
      margin-bottom: 10px;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
  .liner {
    position: absolute;
    bottom: 20px;
    width: 95%;
    height: 2px;
    background: linear-gradient(to right, #00000014, #ff6600);
    box-shadow: 0px 0px 20px 5px #ff660026;
    position: relative;
    .point {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--Primary);
      position: absolute;
      top: -2.5px;
      right: -3px;
    }
  }
}
.blog {
  background-color: #141414;
  .container {
    padding: 50px 0;
  }
  h2 {
    @include h2();
  }
  .btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ffffff80;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    i {
      color: #ffffff80;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      border-color: var(--Primary);
    }
    &:hover i {
      color: var(--Primary);
    }
  }
  .card {
    margin-top: 40px;
    @include flex();
  }
  .box {
    width: 30%;
    .imgs {
      overflow: hidden;
      img {
        width: 100%;
        transition: all 0.3s ease-in-out;
        display: block;
      }
      &:hover img {
        transform: scale(1.05);
      }
    }
    .text {
      height: 100px;
      position: relative;
      h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        color: var(--MainColor);
        margin-top: 20px;
      }
      h5 {
        position: relative;
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        color: var(--Primary);
        position: absolute;
        left: 0;
        bottom: 0;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &::after {
          content: " ";
          position: absolute;
          left: 0;
          bottom: -5px;
          height: 2px;
          width: 0;
          background-color: var(--Primary);
          transition: all 0.3s ease-in-out;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }
  .col {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    .content {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: #524f4f;
        &:nth-child(3) {
          font-size: 24px;
          color: var(--Primary);
          filter: drop-shadow(1px 1px 20px #ff6600);
          background-color: transparent;
        }
      }
    }
  }
}
.contact {
  background-color: #0a0a0a;
  .container {
    padding: 0;
    @include flex();
    justify-content: space-around;
    gap: 20px;
  }
  form {
    width: 50%;
    input {
      font-weight: 600;
      font-size: 12px;
      line-height: 100%;
      color: var(--MainColor);
      background-color: #141414;
      padding: 10px;
      border: 1px solid #141414;
      transition: all 0.2s ease-in-out;
      //   outline: none;
      &:focus {
        border-color: var(--Primary);
        outline: var(--Primary);
        background-color: #221309;
      }
    }
    .int1 {
      width: 100%;
      margin-bottom: 10px;
    }
    .inputBtn {
      margin-bottom: 10px;
      display: flex;
      gap: 10px;
      .int2 {
        width: 50%;
      }
      .int3 {
        width: 50%;
      }
    }
    textarea {
      width: 100%;
      background-color: #141414;
      padding: 10px;
      border: 1px solid #141414;
      outline: none;
      height: 150px;
      transition: all 0.2s ease-in-out;
      &:focus {
        border-color: var(--Primary);
        outline: var(--Primary);
        background-color: #221309;
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      button {
        @include btn-still();
        box-shadow: 0px 0px 60px 0px #ff660073;
      }
    }
  }
  .imgs {
    width: 30%;
    img {
      width: 100%;
    }
  }
}
footer{
    background-color: #141414;
    .container{
        padding: 50px 0;
        @include flex();
        align-items: start;
    }
    .card{
        display: flex;
        gap: 40px;
        h5{
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            color: #898989;
            margin-bottom: 10px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover{
                color: var(--MainColor);
            }
        }
    }
    .icons{
        display: flex;
        gap: 20px;
        .icon{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #080808;
            cursor: pointer;
            transition: all .3s ease-in-out;
            i{
                color: #898989;
                font-size: 20px;
            }
            &:hover{
                transform: scale(0.95);
            }
        }
    }
}

@keyframes animate1 {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
    background-color: var(--Primary);
    box-shadow: 0px 0px 20px 0px #ff6600d9;
  }
  100% {
    transform: scale(0.8);
  }
}

@media (max-width: 767px) {
  nav {
    .container {
      padding: 20px;
    }
    ul {
      display: none;
    }
    .btns {
      display: none;
    }
    .hamburger {
      display: block;
    }
  }
  .hero {
    .container {
      padding: 50px 20px;
    }
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 14px;
      width: 100%;
      line-height: 120%;
    }
  }
  .about {
    .container {
      padding: 50px 20px;
    }
    .card {
      flex-direction: column;
    }
    .imgs {
      width: 70%;
    }
    p {
      font-size: 12px;
    }
  }
  .values {
    .container {
      padding: 50px 20px;
    }
    .card {
      grid-template-columns: 1fr;
      .box {
        width: 90%;
      }
    }
  }
  .team {
    .container {
      padding: 50px 20px;
    }
  }
  .blog {
    .container {
      padding: 50px 20px;
    }
    .box {
      width: 70%;
      .text {
        h3 {
          font-size: 16px;
        }
      }
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(4) {
        display: none;
      }
    }
  }
  .contact {
    .container {
      padding: 20px 0;
      flex-direction: column;
    }
    form {
      width: 90%;
      .inputBtn {
        flex-direction: column;
        .int2 {
          width: 100%;
        }
        .int3 {
          width: 100%;
        }
      }
    }
    .imgs {
      width: 100%;
      height: 300px;
      img {
        height: 100%;
      }
    }
  }
  footer{
    .container{
        padding: 50px 20px;
        flex-wrap: wrap;
    }
    .card{
        flex-wrap: wrap;
    }
  }
}
